# Nuxt build output
.nuxt/
.output/
.cache/

# Dependencies
node_modules/

# Local environment
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log

# Vercel
.vercel/

# Editor/OS junk
.DS_Store
Thumbs.db

# Optional: local VSCode settings
.vscode/
